* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.navbar__s1 img {
  width: 80px;
}
.navbar__s2 {
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s2 input {
  border: none;
  width: 100%;
}
.navbar__s2:hover,
.navbar__s2 input:hover {
  background-color: whitesmoke;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar__s3__items:hover {
  color: #892de1;
}
.categories {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
}
.categories p {
  background-color: #892de1;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.categories p:hover {
  background-color: #b99ce5;
  color: black;
}
.sale-image img {
  width: 100%; /*to make image fit upto size which we provided before, if we not specify it, its overflowing and taking more width*/
}
