* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito", sans-serif;
}
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  gap: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.navbar__s1 img {
  width: 80px;
}
.navbar__s2 {
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar__s2 input {
  border: none;
  width: 100%;
  background-color: transparent;
  /* default its adding white background for input, to remove that we can use transparent */
}
.navbar__s2:hover,
.navbar__s2 input:hover {
  background-color: whitesmoke;
}
.navbar__s2 input:focus {
  outline: none;
}
.navbar__s3 {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar__s3__items:hover {
  color: #892de1;
}
.navbar__s4 img{
  display: none;
}
/* My learning popup */
.mylearning{
position: relative;
cursor: pointer;
}
.mylearning__popup{
position: absolute;
background-color: white;
border: 1px solid black;
padding: 15px;
top: 150%;
right: 0;
width: 100px;
display: none;
}
.mylearning:hover .mylearning__popup{
  display: block;
}

.categories {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
}
.categories p {
  background-color: #892de1;
  color: white;
  padding: 10px;
  border-radius: 15px;
   border: #892de1 solid 1px;
   cursor: pointer;
}
.categories p:hover {
  background-color: transparent;
  color: black;
  border: #892de1 solid 1px;
  transition: 1s;
}
.sale__image{
  position: relative;
}
.sale__image img {
  width: 100%; /*to make image fit upto size which we provided before, if we not specify it, its overflowing and taking more width*/
}
.sale__image__offer{
  border-radius: 8px;
    width: 35%;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 30%;
    left: 8%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    /* animation fill mode used to apply whats happening in 100% stays same
    bcoz opacity 0 means that img itself wont be there...after finishing 100% it will come back to existing css effect
     to overcome this problem we use this */
}
@keyframes zoom {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.sale__image__offer p{
  margin-top: 10px;
}
.recommended {
  padding: 10px;
}
.course-card {
  width: 310px; /*Instead of percentage, px will be used when we resize the window automatically it will based on window size
  in case of percentage, it will occupy that 20% and images will shrink*/
  flex-grow: 1;
  flex-basis: 20%;
  margin: 5px;
}
.course-card img {
  width: 100%;
  height: 50%;
}
.recommended__container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}
.topics {
  padding: 10px;
}
.topics__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.topics__container p {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 25%;
  /* flex grow and basis applicable for flex items not on flex container */
}
.Popular {
  padding: 10px;
}
.popular__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-between;
}
.footer{
  padding:30px;
  background-color: black;
  color: white;
}
.footer__one{
  display: flex;
  gap: 20px;
}
.footer__one p{
  margin: 10px;
}
.footer__two{
  display: flex;
  gap: 15px;
}
.footer__two__img{
width: 80px;
margin-top: 10px;
}
.footer__two p{
  margin-top: 20px;
}


/* Media queries */
@media screen and (max-width:800px){
  body{
    font-size: 10px;
  }
}
@media screen and (max-width:600px) {
  .course-card{
  flex-basis: 40%;
  }
  .categories{
    display: none;
  }
  .navbar__s2, .navbar__s3{
    display: none;
  }
  .navbar__s4 img{
display: block;
  width: 20px;
  }
  .sale__image__offer{
    
    margin-top: -30px;
  }
}
